:root {
    --background-color: rgb(135, 206, 235); /* Sky blue background */
}
body {
    background-color: var(--background-color);
}

/* Article with Paragraphs */
article p:first-child {
    color: white;
    background-color: black;
}

article p:nth-child(2) {
    color: black; /* Standard text color */
}

article p:last-child {
    color: red; /* Red text */
}

/* Unordered List with 5 items */


ul li {
    background-color: gray; /* Default background color */
    width: 50%;
    padding: 10px;
}

ul li:nth-child(odd) {
    background-color: white; /* Odd items get white background */
}

ul li:first-child,
ul li:last-child {
    font-size: 22px; /* First and last items have font size of 22px */
}

ul li:nth-last-child(3) {
    background-color: pink; /* Third-to-last item gets pink background */
}